{% extends 'base.html' %}

{% block title %}
    Обувь для бега.
{% endblock %}

{% block content %}
    <h1>Обувь для бега</h1>
    <div class="album py-5 bg-light">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="http://via.placeholder.com/200x200" style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                            <p class="card-text">Кроссовки Salomon Techamphibian 3</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <span>6990 руб.</span>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Купить</button>
                                <a href="#" class="text-muted">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="http://via.placeholder.com/200x200" style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                            <p class="card-text">Кроссовки Salomon Techamphibian 3</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <span>6990 руб.</span>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Купить</button>
                                <a href="#" class="text-muted">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="http://via.placeholder.com/200x200" style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                            <p class="card-text">Кроссовки Salomon Techamphibian 3</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <span>6990 руб.</span>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Купить</button>
                                <a href="#" class="text-muted">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}





